# File extensions unrelated to project
*.src.rock
*.zip
*.tar.gz
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dll
*.so
*.so.*
*.dylib

# Project Ignores
libs
.vscode
CHANGES.txt
api/oUF/.pkgmeta
api/oUF/.travis.yml
api/oUF/oUF.toc